.git
**/.gitignore

# Large files
*.pkl
*.npy
*.zip
*.mp3

# Temp files
tmp*
x.*

# Directories
Simulation/
data/
TrainingMaterials/

# OS and editor junk
.DS_Store
.vscode/
.pytest_cache/
PrcsData/
Others/
OpenNFT/
Psychopy/
!Simulation/*/
Simulation/*/*
Josh_Simulation/
Protocol/
Dashboards/
TMP/
emails/
deprecated/
Papers/
ScanNotes/

__pycache__/
.venv
*.pyc
*egg*
.ipynb_checkpoints/
*.log
a.pkl.npy
kl_devel.ipynb

docs/_build/

Scripts/60min_Preproc/
Scripts/Realtime_Scanner/Not_Used/
Scripts/Realtime_Scanner/afni_start.sh
Scripts/TechScans/
Scripts/Testing_Scripts/
Scripts/AfniProc/.ipynb_checkpoints/Untitled-checkpoint.ipynb
testing.ipynb

rtcaps/
afni_plugin/

.vscode/
.DS_Store
psychopy-env.yml
new_env.yml

Orange_Introspection.ows
Scripts/Realtime_Scanner/01_BringROIsToSubjectSpace.old.sh
*.hdf5
test.mp3
build/
