# Project Directories
PrcsData/
Others/
OpenNFT/
Psychopy/
!Simulation/*/
Simulation/*/*
Josh_Simulation/
Protocol/
Dashboards/
TMP/
emails/
deprecated/
Papers/
ScanNotes/
rtcaps/
Scripts/

# Python and Jupyter stuff
__pycache__/
*.pyc
*egg*
.ipynb_checkpoints/
*.log
a.pkl.npy
kl_devel.ipynb

# Sphinx stuff
docs/build/

# Scripts and Notebooks
Scripts/60min_Preproc/
Scripts/Realtime_Scanner/Not_Used/
Scripts/Realtime_Scanner/afni_start.sh
Scripts/TechScans/
Scripts/Testing_Scripts/
Scripts/AfniProc/.ipynb_checkpoints/Untitled-checkpoint.ipynb
testing.ipynb

# Old stuff
rtcaps/60min_Preproc/
rtcaps/Realtime_Scanner/Not_Used/
rtcaps/bin/profile*txt
rtcaps/bin/tj
rtcaps/bin/deprecated/
rtcaps/bin/data/
rtcaps/profiles/
rtcaps/resources/likert_instr.png
rtcaps/resources/forps_1x4d_pic.png

# Config and Hidden files
.vscode/
.DS_Store
psychopy-env.yml
new_env.yml

# Etc
Orange_Introspection.ows
Scripts/Realtime_Scanner/01_BringROIsToSubjectSpace.old.sh
*.hdf5
test.mp3