PrcsData
Others
OpenNFT
Psychopy
Realtime/Psychopy-NeuroFeedback-Demo/afniInterfaceRT
.vscode
.DS_Store
Realtime/PsychoPy-NeuroFeedback-Demo/__pycache__
Papers
ScanNotes
rtcaps/.ipynb_checkpoints
rtcaps/__pycache__
rtcaps/notebooks/.ipynb_checkpoints
rtcaps/afniInterfaceRT/.ipynb_checkpoints
rtcaps/afniInterfaceRT/__pycache__
rtcaps/rtcap_lib/.ipynb_checkpoints
rtcaps/rtcap_lib/__pycache__
rtcaps/afni_lib/.ipynb_checkpoints
rtcaps/afni_lib/__pycache__
rtcaps/notebooks/*.ipynb
rtcaps/Realtime_Scanner/Not_Used
rtcaps/60min_Preproc
Scripts/60min_Preproc/
Scripts/Realtime_Scanner/Not_Used/
Scripts/Realtime_Scanner/afni_start.sh
Scripts/TechScans/
Scripts/Testing_Scripts/
psychopy-env.yml
rtcaps/bin/profile*txt
.ipynb_checkpoints/kl_devel-checkpoint.ipynb
a.pkl.npy
kl_devel.ipynb
TMP
rtcaps/profiles
emails/
rtcaps/bin/tj
rtcaps/bin/deprecated
deprecated/
Realtime
Dashboards
Scripts/Visualization/.ipynb_checkpoints/
Scripts/Visualization/*.ipynb
rtcaps/tests/.ipynb_checkpoints/
rtcaps/bin/__pycache__/
rtcaps/bin/data/
rtcaps/tests/*ipynb
*.pyc
Orange_Introspection.ows
Josh_Simulation
Protocol
Scripts/Realtime_Scanner/01_BringROIsToSubjectSpace.old.sh
rtcaps/resources/likert_instr.png
rtcaps/resources/forps_1x4d_pic.png
Scripts/AfniProc/.ipynb_checkpoints/Untitled-checkpoint.ipynb
rtcaps/rtcap_lib/utils/.ipynb_checkpoints/exp_defs-checkpoint.py
